body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 30px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
}
body, button, input, select, textarea {
  font-weight: 30px;
  font-family: 'Open Sans', sans-serif;
  
}



.headercontainer, header {
  background-color: transparent;
  width: 100%;
}

header {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 6rem;
  background-color: #03396c;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.logo {
  flex-grow: 1; 
  color: white;
}
/* Removes underline on the logo link */
a.logo {
  text-decoration: none;
}
/* Styles the hover just like rest of the nav */
a.logo:hover, a.logo:focus {
color: #6497b1;
}

.menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 0 1rem;
}

.menu a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: #6497b1;
}

.main-content {
  padding: 60px 40px; 
  display: flex;
  justify-content: space-between;
}

.leftcontainer {
  flex: 0 1 60%;
  padding-right: 20px;
  display: flex;      
  flex-direction: column;
  justify-content: space-between;
}


.leftcontainer h1 {
  color: #011f4b; 
  font-weight: 800; 
  margin-bottom: 0.5em;
  font-size: 2.5em; 
}

.leftcontainer p {
  line-height: 1.8; 
  color: #03396c; 
  font-weight: 400;
  line-height: 1.6; 
  margin-bottom: 1em; 
}

.rightcontainer {
  flex: 1; /* This will make the right container flexible */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive image styling */
.rightcontainer img {
width: 75%;      
height: auto;       
transition: transform 0.3s ease-in-out; 
display: block;   
margin: 0 auto;   
border-radius: 15px; 
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Hover effect - Zoom in */
.rightcontainer img:hover {
transform: scale(1.2); 
}





/* button styling  */
.schedule-btn {
  margin-top: auto;
  background-color: #005b96;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
  font-weight: bold; 
  margin-top: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
               0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: inline-block; 
}
.button-wrapper {
  align-self: flex-end;
  width: 100%; 
  display: flex;
  justify-content: center;
}

.schedule-btn:hover {
  background-color: #03396c; 
}



