body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 30px;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
body, button, input, select, textarea {
    font-weight: 30px;
    font-family: 'Open Sans', sans-serif;
  }
  


.headercontainer {
    max-width: auto;
    border-radius: 50px;
    margin: 20px auto;
    padding: 0 20px;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    /* background-color: #667986; */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.task-list {
    margin-bottom: 20px;
}

.task {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
}

.add-task {
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
}

.add-task input {
    flex: 1;
    padding: 5px;
}

.add-task button {
    padding: 10px 20px;
    background-color: #007ac8;
    color: #fff;
    border: none;
    cursor: pointer;
    
}

.add-task button:hover {
    background-color: #0056b3;
}


header {
    background-color: #003f87;
    border-radius: 05px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* 007ac8-WWU Light Blue */ 
/* 262b2f-WWU Grey */

header h1 {
    margin: 0;
    font-size: 2.5rem; /* 40px */
    font-weight: 300;
    text-align: center;
}
.class-item {
    border-bottom: 1px solid #eee; /* Optional: Adds a separator between class items */
    padding: 10px 0; /* Adds padding above and below the class item */
    margin-bottom: 20px; /* Increase space between items */
}
#classesContainer {
    border-radius: 05px;
    background-color: #667986;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;  /* Adds space below the container */
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;  /* Sets the height to 80% of the viewport height */
    overflow-y: auto;  /* Enables scrolling within the container if content exceeds the height */
}

#backButton {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }